<settings>
    <!-- This is a Maven settings file that is used to publish built artifacts to a Maven repository. -->
    <servers>
        <server>
            <id>central</id>
            <username>${env.CI_DEPLOY_USERNAME}</username>
            <password>${env.CI_DEPLOY_PASSWORD}</password>
        </server>
        <server>
            <id>gpg.passphrase</id>
            <passphrase>${env.MAVEN_GPG_PASSPHRASE}</passphrase>
        </server>
    </servers>
</settings>
